.espacamento{
    padding: 0px 130px;
}
.imagem__hero{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    padding-top: 95px;    
}
.imagem__hero > *{
    max-width: 83%;   
}
.coluna__preview{
    display: flex;
    flex-direction: column;    
}
.titulo__preview{
    padding-bottom: 30px;
}
.texto__preview{
    padding-bottom: 40px;
}
.subtitulo__preview{
    padding-bottom: 30px;
}
.imagem__preview{
    padding-bottom: 35px;
}
.hr__pequeno{
    width: 350px;
    height: 1px;
    left: 165px;
    top: 1302px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;    
}
.hr__grande{
    width: 1110px;
    height: 1px;
    left: 165px;
    top: 2061px;
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;    
}
.preview__rolagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



